/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-06-2016, 22:18:12
    Author     : JEB
*/
BODY
{
    background-color: #FFFFFF;
    font-family: arial,helvetica;
}
A
{
    color: #666666;
    text-decoration: none;
}
A:hover
{
    color: #000000;
    text-decoration: underline;
}
INPUT
{
    font-weight: normal;
    font-size: 9pt;
    color: #000000;
    font-family: arial,helvetica;
}
SELECT
{
    font-weight: normal;
    font-size: 9pt;
    color: black;
    font-family: arial,helvetica;
}
RADIO
{
    font-weight: normal;
    font-size: 9pt;
    color: #000000;
    font-family: arial,helvetica;
}
.bigtitle
{
    font-weight: bold;
    font-size: 16pt;
    color: #000000;
    font-family: Arial,helvetica,sans-serif;
}
.midtitle
{
    font-weight: bold;
    font-size: 12pt;
    color: #333333;
    font-family: Arial,helvetica,sans-serif;
}
.smalltitle
{
    font-weight: bold;
    font-size: 10pt;
    color: #333333;
    font-family: Arial,helvetica,sans-serif;
}
.txtnormal
{
    font-weight: normal;
    font-size: 8pt;
    color: #000000;
    font-family: Geneva, Arial, Helvetica, san-serif;
}
.txttable
{
    font-weight: normal;
    font-size: 8pt;
    color: #333333;
    font-family: Arial,helvetica,sans-serif;
    text-align: right;
}
A.whitelink
{
    color: #FFFFFF;
    font-family: Arial, Helvetica,sans-serif;
}
A.whitelink:active
{
}
A.whitelink:visited
{
}
A.whitelink:hover
{
    color: #FFFFFF;
    font-family: Arial, Helvetica,sans-serif;

    text-decoration: underline;
}
A.forasubject
{
    font-weight: normal;
    font-size: 8pt;
    color: #000000;
    font-family: Arial, Helvetica,sans-serif;
    text-decoration: underline;
}
A.forasubject:active
{
    color: #000000;
}
A.forasubject:visited
{
    color: #000000;
}
A.forasubject:hover
{
    color: #8E1624;
    text-decoration: underline;
}
TD
{
    font-weight: normal;
    font-size: 8pt;
    color: #000000;
    font-family: Geneva, Arial, Helvetica, san-serif;
}

A.linkamarillo:visited {
	font-size:11pt;
	color:#C89904;
	text-decoration: underline;
} 
A.linkamarillo:active {
	font-size:11pt;
	color:#C89904;
	text-decoration: underline;
} 
A.linkamarillo:link {
	font-size:11pt;
	color:#C89904;
	text-decoration: underline;
} 
A.linkamarillo:hover {
	font-size:11pt;
	color:#666666;
	text-decoration: none;
} 
A.linkmarron:visited {
	font-size:11pt;
	color:#53452A;
	text-decoration: underline;
} 
A.linkmarron:active {
	font-size:11pt;
	color:#53452A;
	text-decoration: underline;
} 
A.linkmarron:link {
	font-size:11pt;
	color:#53452A;
	text-decoration: underline;
} 
A.linkmarron:hover {
	font-size:11pt;
	color:#666666;
	text-decoration: none;
}

A.linkrojo:visited {
	font-size:11pt;
	color:#A63728;
	text-decoration: underline;
} 
A.linkrojo:active {
	font-size:11pt;
	color:#A63728;
	text-decoration: underline;
} 
A.linkrojo:link {
	font-size:11pt;
	color:#A63728;
	text-decoration: underline;
} 
A.linkrojo:hover {
	font-size:11pt;
	color:#666666;
	text-decoration: none;
}

A.linkverde:visited {
	font-size:11pt;
	color:#84AA00;
	text-decoration: underline;
} 
A.linkverde:active {
	font-size:11pt;
	color:#84AA00;
	text-decoration: underline;
} 
A.linkverde:link {
	font-size:11pt;
	color:#84AA00;
	text-decoration: underline;
} 
A.linkverde:hover {
	font-size:11pt;
	color:#666666;
	text-decoration: none;
}

A.linkmorado:visited {
	font-size:11pt;
	color:#61497C;
	text-decoration: underline;
} 
A.linkmorado:active {
	font-size:11pt;
	color:#61497C;
	text-decoration: underline;
} 
A.linkmorado:link {
	font-size:11pt;
	color:#61497C;
	text-decoration: underline;
} 
A.linkmorado:hover {
	font-size:11pt;
	color:#666666;
	text-decoration: none;
}
A.linkazul:visited {
	font-size:11pt;
	color:#0599dd;
	text-decoration: underline;
} 
A.linkazul:active {
	font-size:11pt;
	color:#0599dd;
	text-decoration: underline;
} 
A.linkazul:link {
	font-size:11pt;
	color:#0599dd;
	text-decoration: underline;
} 
A.linkazul:hover {
	font-size:11pt;
	color:#666666;
	text-decoration: none;
}
