/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-06-2016, 22:18:12
    Author     : JEB
*/
BODY
{
    BACKGROUND-COLOR: #FFFFFF;
    FONT-FAMILY: arial,helvetica;
}
A
{
    COLOR: #666666;
    TEXT-DECORATION: none;
}
A:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline;
}
INPUT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica;
}
SELECT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial,helvetica;
}
RADIO
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica;
}
.bigtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    COLOR: #000000;
    FONT-FAMILY: Arial,helvetica,sans-serif;
}
.midtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #333333;
    FONT-FAMILY: Arial,helvetica,sans-serif;
}
.smalltitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #333333;
    FONT-FAMILY: Arial,helvetica,sans-serif;
}
.txtnormal
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Geneva, Arial, Helvetica, san-serif;
}
.txttable
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial,helvetica,sans-serif;
    TEXT-ALIGN: right;
}
A.whitelink
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica,sans-serif;
}
A.whitelink:active
{
}
A.whitelink:visited
{
}
A.whitelink:hover
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica,sans-serif;

    TEXT-DECORATION: underline;
}
A.forasubject
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica,sans-serif;
    TEXT-DECORATION: underline;
}
A.forasubject:active
{
    COLOR: #000000;
}
A.forasubject:visited
{
    COLOR: #000000;
}
A.forasubject:hover
{
    COLOR: #8E1624;
    TEXT-DECORATION: underline;
}
TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Geneva, Arial, Helvetica, san-serif;
}

A.linkamarillo:visited {
	font-size:11;
	color:#C89904;
	text-decoration: underline;
} 
A.linkamarillo:active {
	font-size:11;
	color:#C89904;
	text-decoration: underline;
	font-weight: none;
} 
A.linkamarillo:link {
	font-size:11;
	color:#C89904;
	text-decoration: underline;
	font-weight: none;
} 
A.linkamarillo:hover {
	font-size:11;
	color:#666666;
	text-decoration: none;
} 
A.linkmarron:visited {
	font-size:11;
	color:#53452A;
	text-decoration: underline;
} 
A.linkmarron:active {
	font-size:11;
	color:#53452A;
	text-decoration: underline;
	font-weight: none;
} 
A.linkmarron:link {
	font-size:11;
	color:#53452A;
	text-decoration: underline;
	font-weight: none;
} 
A.linkmarron:hover {
	font-size:11;
	color:#666666;
	text-decoration: none;
}

A.linkrojo:visited {
	font-size:11;
	color:#A63728;
	text-decoration: underline;
} 
A.linkrojo:active {
	font-size:11;
	color:#A63728;
	text-decoration: underline;
	font-weight: none;
} 
A.linkrojo:link {
	font-size:11;
	color:#A63728;
	text-decoration: underline;
	font-weight: none;
} 
A.linkrojo:hover {
	font-size:11;
	color:#666666;
	text-decoration: none;
}

A.linkverde:visited {
	font-size:11;
	color:#84AA00;
	text-decoration: underline;
} 
A.linkverde:active {
	font-size:11;
	color:#84AA00;
	text-decoration: underline;
	font-weight: none;
} 
A.linkverde:link {
	font-size:11;
	color:#84AA00;
	text-decoration: underline;
	font-weight: none;
} 
A.linkverde:hover {
	font-size:11;
	color:#666666;
	text-decoration: none;
}

A.linkmorado:visited {
	font-size:11;
	color:#61497C;
	text-decoration: underline;
} 
A.linkmorado:active {
	font-size:11;
	color:#61497C;
	text-decoration: underline;
	font-weight: none;
} 
A.linkmorado:link {
	font-size:11;
	color:#61497C;
	text-decoration: underline;
	font-weight: none;
} 
A.linkmorado:hover {
	font-size:11;
	color:#666666;
	text-decoration: none;
}
A.linkazul:visited {
	font-size:11;
	color:#0599dd;
	text-decoration: underline;
} 
A.linkazul:active {
	font-size:11;
	color:#0599dd;
	text-decoration: underline;
	font-weight: none;
} 
A.linkazul:link {
	font-size:11;
	color:#0599dd;
	text-decoration: underline;
	font-weight: none;
} 
A.linkazul:hover {
	font-size:11;
	color:#666666;
	text-decoration: none;
}
